*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 249, 249);
}

header h1 {
  display: flex;
  align-items: center;
}

header h1 a {
  text-decoration: none;
  color: black;
}

header.navbar-container {
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  background-color: rgb(199, 255, 252);
  position: sticky;
  top: 0;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list a {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border: 1.5px solid #e2e2e2;
  border-radius: 5px;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  transition: all 0.15s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.075);
}

main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 5rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  position: relative;
  left: -5rem;
}

main .content {
  flex: 1;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

main .content .content-description {
  flex: 1 1;
}

main .content .content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

main .content .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
}

main .content .content-image .lambang-um {
  width: 170px;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 150px;
}

.profile section h3 {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

main aside {
  position: fixed;
  right: 0;
}

.lambang-um {
  width: 200px;
}

.skills {
  margin-bottom: 10rem;
}

footer {
  padding: 20px;
  color: black;
  background-color: rgb(199, 255, 252);
  text-align: center;
  font-weight: bold;
}

footer .social-media a{
  margin: 0 .5rem;
  color: #3e3f40;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.15s ease-in-out;
}

footer .social-media a :hover {
  color: #868686;
}

/* ketika web disempitkann hingga ukuran 1317px agar element aside tidak menabrak main content */
@media screen and (max-width: 1317px) {
  main {
    flex-direction: column;
    align-items: center;

    /*posisi card pas ditengah*/
    position: inherit;
  }

  main aside {
    position: static;
  }

  main aside table {
    display: flex;
    justify-content: center;
  }

  main aside table tr {
    display: flex;
    gap: 3rem;
  }

  .skills {
    margin-bottom: 0;
  }
}


/* Medium devices (900px dan di bawahnya) */
@media screen and (max-width: 900px) {
  html {
    scroll-padding-top: 35rem;
    scroll-behavior: smooth;
  }

  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: .5rem;
  }

  main .content {
    flex-direction: column;
    margin-right: 0;
  }

  main .content .content-description .title {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  main .content .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }

  main aside {
    align-self: stretch;
  }
}
